body {
  background: #000;
  font-size: 20px;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */

}

.credits {
  padding: 0 10px;
  margin-top: 50px;
  text-align: center;
}

.credits .title {
  font-weight: bold;
  color: #e43b5e;
}

.dialog {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2em;
  background-color: rgba(10,10,10,0.8);
  border-radius: 13px;
  padding: 1.7em 2em;
}

#asaturday-ui {
  z-index: 100;
  position: absolute;
  left: 20px;
  bottom: 20px;
  line-height: 1.2em;
}

#asaturday-ui .help {
  width: 600px;
  color: #ffd;
  font-size: 16px;
  text-shadow: 0px 2px 1px #000;
}

#asaturday-ui .help h1, #gif-ui h1 {
  font-size: 22px;
  font-style: italic;
  font-weight: 100;
  color: #e43b5e;
  margin-top: 0;
}

#asaturday-ui .button, #gif-ui .button {
  background-color: #e43b5e;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
  padding: 8px 15px;
  border-radius: 10px;
  margin-right: 15px;
}

#asaturday-ui .button img{
  vertical-align: middle;
}

#asaturday-ui .copy{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

#asaturday-ui .button:hover, #gif-ui .button:hover, #gif-ui .close:hover {
  background-color: #ff5b7e;
}

#asaturday-ui .form {
  display: flex;
  align-content: center;
  margin-bottom: 1rem;
}

#asaturday-ui .share input {
  width: 300px;
  color: #555;
  text-align: center;
}

.hide {
  display: none !important;
}

#asaturday-ui .progress {
  font-size: 22px;
  font-style: italic;
  font-weight: 100;
  color: #e43b5e;
  border-bottom: 1px solid #e43b5e;
  text-shadow: 0px 2px 1px #000;
}

#asaturday-ui .bar {
  width: 0%;
  height: 3px;
  margin-top: 13px;
  background-color: #e43b5e;
}

#fog{
  background-attachment: scroll;
  background-image: url("../assets/bg.gif");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
  opacity: 1;

  Ð°animation: 100s ease 0s normal forwards 1 fadein;
  -webkit-animation: fadeout 100s linear 1 normal forwards;
 }

@-webkit-keyframes fadeout{
from{
   opacity: 0;
}
to{
    opacity: 1;
}
}

.instructions {
  z-index: 100;
  position: absolute;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  width: 100%;
  opacity: 0;
  animation: fadein 0.5s;
  animation-fill-mode: forwards;
}
.instructions .p{
  line-height: 1.5em;
}

.instructions-overlay {
  background-attachment: scroll;
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-size: 4100px 1500px;
  height: 100%;
  width: 100%;
  background-size: contain;

  opacity: 0;
  animation: 10s ease 0s normal forwards 1 fadein;
  -webkit-animation: fadeout 20s linear 1 normal forwards;
 }

@-webkit-keyframes fadeout{
from{
   opacity: 1;
}
to{
    opacity: 0;
}
}


.instructions img {
  padding-top: 20px;
  max-width: 100%;
  max-height: 20%;
}

.instructions h2 {
  font-size: 1.2em;
  color: #e43b5e;
  font-style: italic;
}

.instructions p {
  margin: 2em auto;
  padding: 0 1em;
  max-width: 800px;
}

.instructions b {
  color: #8ff;
  font-weight: normal;
}

.instructions a {
  color: lightgray;
  text-decoration: none;
}

.instructions a:hover {
  color: #fff;
  border-bottom-color: #fff;
}

.instructions .start-button {
  background-color: #e43b5e;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  width: 200px;
  height: 50px;
  margin-left: calc(50% - 100px);
  border-radius: 17px;
  border: none;
  display: block;

  opacity: 1;
  -webkit-transition: opacity 2s ease-out;
  -moz-transition: opacity 2s ease-out;
  -o-transition: opacity 2s ease-out;
  transition: opacity 2s ease-out;
}

.instructions .start-button:hover {
  background-color: #fff;
  color: #e43b5e;
  opacity: 0.2;
}

.instructions .start-button span.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.watermark{
  position: absolute;
  z-index: 999;
  width: 300px;
  margin: 20px 30px;
}

#gif-ui {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background: rgba(0, 0, 0, 0.3);
}
#gif-ui.black{
  background: #000;
}
#gif-ui .dialog{
  position: absolute;
  width: 400px;
  top: 30%;
  top: calc(40vh - 200px);
  left: calc(50% - 200px);
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}
#gif-ui .button {
  margin: 0;
}
#gif-ui .dialog>img {
  display: block;
  background: black;
  margin: 3rem auto;
}

#gif-ui b{
  color: #fff;
  font-weight: normal;
}

#gif-ui .close {
  background-color: #e43b5e;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  padding: 6px;
  border-radius: 20px;
  font-size: 40px;
  position: absolute;
  left: 450px;
  top: -10px;
}

@media only screen
  and (min-device-width: 400px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  .instructions .start-button {
    margin-top: 10px;
  }
  .credits {
    margin-top: 10px;
  }
  .instructions {
    liwne-height: 5em;
  }

  .instructions p {
    margin: 1em auto;
  }

  .instructions img {
    padding-top: 10px;
    max-width: 60%;
    max-height: 20%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .instructions p {
    max-width: 700px;
  }
}